@page "/admin"
@using CodeVijetWeb.DB;
@using CodeVijetWeb.Services

@inject IConfiguration Config;
@inject WatchDogService WatchDog;
@inject Sq_lite_Context Ef;

<PageTitle>Админ-панель</PageTitle>

@if (_isAuthorized)
{
    <h4 class="mt-4">Текущий проект для отслеживания</h4>
    <div class="card shadow-lg rounded">
        <div class="card-body">
            <label>Путь до папки с проектом для отслеживания</label>
            <div class="mt-2 d-flex">
                <input @bind="_newPath" type="text" class="form-control" placeholder="C:\Users\kulagin\RiderProjects\Api-Client-for-samgk.ru">
                <button @onclick="ChangePathTracking" type="button" class="ms-2 btn btn-primary">Сохранить</button>
            </div>
        </div>
    </div>

    <div class="mt-4">
        <h4>Последние проекты:</h4>
    </div>
    foreach (var item in GetHistoryApp())
    {
        <div class="mt-4 card shadow-sm rounded">
            <div class="card-body">
                <input readonly type="text" value="@item" class="form-control">
            </div>
        </div>
    }
    <div class="mt-4">
        <button @onclick="ClearHistiry" class="btn btn-primary">Очистить историю</button>
    </div>
}
else
{
    <div style="height: 100vh;" class="d-flex align-items-center justify-content-center">
        <div class="card shadow-lg rounded">
            <div class="card-body">
                <label>Введите админ-пароль</label>
                <div class="mt-2 d-flex">
                    <input @bind="_password" type="password" class="form-control" placeholder="Пароль">
                    <button @onclick="CheckPassword" type="button" class="ms-2 btn btn-primary">Войти</button>
                </div>
            </div>
        </div>
    </div>
}


@code {
    private bool _isAuthorized = false;

    private string _password = "";
    private string _newPath = "";

    /* Наитупейшая проверка, но пойдет */

    private void CheckPassword()
    {
        if (Config.GetValue<string>("Password") != _password)
            return;

        _isAuthorized = true;
        StateHasChanged();
    }

    /* Смена папки для отслеживания */

    private void ChangePathTracking()
    {
        if (!_isAuthorized)
            return;

        WatchDog.ChangePathForTracking(_newPath);
        
        if(string.IsNullOrEmpty(_newPath))
            return;
        
        try // сохраним в  бд  
        {
            Ef.Logs.Add(new Logs { Date = DateOnly.FromDateTime(DateTime.Now), Path = _newPath });
            Ef.SaveChanges();
        }
        catch // да  пофиг 
        {
        }
    }


    /* старые  проекты */

    private List<string> GetHistoryApp()
    {
        return Ef.Logs.OrderByDescending(d => d.Date).Select(x => x.Path).Distinct().ToList();
    }


    /* старые  проекты */

    private void ClearHistiry()
    {
        try // получим из бд
        {
            Ef.Logs.RemoveRange(Ef.Logs);
            Ef.SaveChanges();
        }
        catch
        {
        }
    }

}