@page "/"
@using System.Timers;

<PageTitle>
    CodeWidget
</PageTitle>

<h3>Добро пожаловать</h3>

<p>На этом сервере будут отображаться, файлы проектов преподавателя</p>
<p>Отображаться они будут в боковом меню</p>
<p>Листинг обновляется в реал тайме (почти) пока преподаватель не нажмет CTRL S</p>

<br/>
<br/>
by <a href="https://github.com/frakiec89">frakiec89</a> and <a href="https://github.com/TheCrazyWolf">TheCrazyWolf</a>
<br/>
Версия: Вроде работает, но не на сокетах)

@code{
}