@page "/widget"

@using CodeVijetWeb.Models
@using CodeVijetWeb.Services
@using System.Timers
@using PrismSharp.Core
@using PrismSharp.Highlighting.HTML

@inject WatchDogService WatchDog;

<PageTitle>Листинг</PageTitle>

<div class="card shadow-lg rounded">
    <div class="card-body">
        @if (_currentWidget is not null)
        {
            <h4>Листинг файла: @_currentWidget.FileName</h4>
            <input readonly="" type="text" value="@_currentWidget.FullPath" class="form-control">
        }
        else
        {
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        }
    </div>
</div>

<div style="height: 80vh;" class="mt-4 card shadow-lg rounded">
    <pre style="height: 80vh;" class="m-0 language-csharp @((MarkupString)RenderNoCopyClass(_currentWidget is null || _currentWidget.IsCopyable))">
            <code>
    @if (_currentWidget is not null)
    {
        @((MarkupString)RenderTokenizeFromPrism(_currentWidget.Code))
    }
    else
    {
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    }
            </code>
        </pre>
</div>

@code
{
    [Parameter]
    [SupplyParameterFromQuery]
    public string? IdListing { get; set; }

    /// <summary>
    /// Текущий листинг
    /// </summary>
    private ListingCode? _currentWidget;

    /// <summary>
    /// Экземпляр таймера
    /// </summary>
    private readonly Timer _timer = new()
    {
        Enabled = true
    };

    /// <summary>
    /// Экземпляр библиотеки PRISM
    /// </summary>
    private readonly HtmlHighlighter _prism = new();

    /// <summary>
    /// Инициализация компонента, подклчение таймера
    /// и привязка событий для обновлений листинга
    /// </summary>
    protected override Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(IdListing))
            return Task.CompletedTask;
        
        _timer.Interval = WatchDog.GetTimeWaitFromConfig();
        _timer.Elapsed += async (object? sender, ElapsedEventArgs e) =>
        {
            _currentWidget = WatchDog.GetListingCode(IdListing);
            await InvokeAsync(StateHasChanged);
        };

        return Task.CompletedTask;
    }

    /// <summary>
    /// Рендеринг красивого кода с подстветкой с помощью
    /// библиотеки PRISM
    /// </summary>
    private string RenderTokenizeFromPrism(string value)
        => _prism.Highlight(value, LanguageGrammars.CSharp, "html");

    /// <summary>
    /// Рендеринг запрещающего тега для копирования листинга
    /// </summary>
    private string RenderNoCopyClass(bool isCopyable)
        => isCopyable ? string.Empty : "pre-no";
    
}