@inherits LayoutComponentBase

<PageTitle>CodeVijetWeb</PageTitle>

<div class="page">
    <div style="width: auto; min-width: 293px;" class="sidebar shadow-lg">
        <NavMenu/>
    </div>

    <main>
        <div class="mt-3">
        </div>

        <article style="height: 95vh;" class="content px-4">
            @Body
        </article>
    </main>
</div>